// Your custom theme/variable overrides go here
// Body
$body-bg: #fff;
// $body-color: #ccc;
$app-min-width: 1024px;

$primary: #6b2d6d;
$info:  #e6d822;

// Required parts of Bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';