// Your custom theme/variable overrides go here
// Body
$body-bg: #fff;
// $body-color: #ccc;
$app-min-width: 1024px;

$primary: #6b2d6d;
$secondary: #273989;
$info: #e6d822;
$light: #ebdeea;
$gray: #eee;
$dark: darken($primary, 20%);

:root {
  --tm-primary: #{$primary};
  --tm-secondary: #{$secondary};
  --tm-info: #{$info};
  --tm-light: #{$light};
  --tm-dark: #{$dark};
  --tm-gray: #{$gray};

  --tm-environment: #59a05d;
  --tm-p2p: #9a2c6f;
  --tm-economic: #296180;
  --tm-infrastructure: #c9493e;

  --tm-environment-2025: #9ac43c;
  --tm-p2p-2025: #67236c;
  --tm-smart-grow-2025: #1fb3a3;
  --tm-border-2025: #dc5d57;
  --tm-governance-2025: #066eb5;
}

// Required parts of Bootstrap
// @import '~bootstrap/scss/functions';
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
