// @import './styles/custom.scss';
@import "./styles/variables.scss";

body {
  font-family: "Century Gothic", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $primary;
  background-color: #fff;
}

b {
  font-weight: 600;
}

// typo:
.TM_h2 {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 300;
  color: $secondary;
}
.TM_text-primary {
  color: $primary !important;
}
.TM_text-secondary {
  color: $secondary !important;
}
// overwriting tesim site styles
.TM_App pre {
  overflow: inherit !important;
}

.tm_d-none {
  display: none !important;
}

.tm_border {
  border: 1px solid $primary;
}
.tm_list-unstyled {
  list-style: none;
  padding-left: 0;
}
.tm_img-fluid {
  max-width: 100%;
}

.TM_btn {
  border: 1px solid var(--tm-primary);
  color: var(--tm-primary);
  background: white;
  padding: 5px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    border-color: var(--tm-secondary);
    background: var(--tm-light);
    color: var(--tm-secondary);
  }
  &-secondary {
    border-color: var(--tm-secondary);
    color: var(--tm-secondary);
    background: white;
  }
}

.TM_App {
  background: white;
}

.TM_container {
  max-width: 1400px;
  margin: auto;
  position: relative;
}
.TM_row {
  display: flex;
  flex-wrap: wrap;
}
.TM_col-6 {
  flex-basis: 50%;
}
.TM_col-12 {
  flex-basis: 100%;
}
.TM_col-md-3 {
  @media only screen and (min-width: 600px) {
    flex-basis: calc(300% / 12);
  }
}
.TM_col-md-4 {
  @media only screen and (min-width: 600px) {
    flex-basis: calc(400% / 12);
  }
}

.TM_overflow-hidden {
  overflow: hidden;
}
.TM_position-relative {
  position: relative;
}

// margins paddings
.tm_ml-3 {
  margin-left: 1rem;
}
.tm_mt-0 {
  margin-top: 0 !important;
}

// Top

.react-select__menu {
  border: 5px solid red;
}

// Colors
$tm-colors: (
  primary,
  secondary,
  info,
  light,
  dark,
  gray,
  environment,
  p2p,
  economic,
  infrastructure,
  environment-2025,
  p2p-2025,
  smart-growth-2025,
  border-2025,
  governance-2025
);

@each $color-name in $tm-colors {
  .tm_bg-#{$color-name} {
    background-color: var(--tm-#{$color-name});
  }

  .tm_bg-#{$color-name}-light {
    background-color: color-mix(
      in hsl,
      var(--tm-#{$color-name}) 50%,
      #ffffff 100%
    );
  }
}

/////// ÑAPA: empezamos todo con mobile first, pero ahora ya vale la pena hacer los ultimos ajustes asi, solo para bolie

// MOBILE
@media only screen and (max-width: 600px) {
}
