@import "./styles/variables.scss";
// btn close,on the top right of the panel
.tm_btn-wrapper {
  position: absolute;
  background-color: var(--tm-light-blue);
  color: white;
  border: 4px solid $secondary;
  right: -25px;
  top: -25px;
  z-index: 9;
  padding: 25px;
  border-radius: 50%;
  display: flex;
  justify-self: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $secondary;
    button {
      color: white;
    }

    .TM_btn-close {
      font-size: 2rem;
      padding: 3px 5px;
      border-radius: 50%;
      background: none;
    }
  }
  button {
    cursor: pointer;
    position: absolute;
    color: white;
    font-size: 2rem;
    transform: translate(-50%, 0);
    border: 0;
    background-color: transparent;
  }
}
