@import './styles/custom.scss';

.TM_map-wrapper {
    min-height: 500px;
    @media only screen and (min-width: 600px) { 
        min-height: 0;
    }
}

// TOP BAR with search btns and dropdowns
#TM_topbar {
    .tm_nav-item {
        flex-grow: 1; // in mobile take all width
        margin: 5px 5px;
    }
    @media only screen and (min-width: 600px) {
        position: absolute;
        width: 100%;
        z-index: 9;
        
        .tm_nav-item {
            &:first-child { margin-left: 20px; }
            &:last-child  { margin-right: 20px; }
            flex-grow: 1; // in desktop don't grow more
            margin: 15px 5px; 
        }
    }
}
// -- end top bar 


.tm_tesim-modal {
    &__wrapper {
        position: fixed;
        z-index: 10;
        left: 0; top: 0; right: 0; bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-self: center; align-items: center;
    }
    &__inner {

        width: 100%;
        max-width: 1240px;
        height: 100%;
        margin: auto;
        background: white;
        iframe { 
            width: 100%;
            height: 100%;
        }
    }
}





// now icon for programme
.programme-and-projects {
    .programme-name {
        text-align: center;
        img {
            margin: auto;
            max-width: 100px;
        }
    }
}
// now posters for projects
.projects-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    li {
        text-align: center;
        img {
            max-width: 50px;
        }
    }
}



// dropdowns::

// countries dropdown when expanded
.css-26l3qy-menu {
    z-index: 11   !important;
    position: absolute;
    border: 5px solid var(--tm-primary) !important;
}