@import './styles/custom.scss';


#svg-map-container {
   outline: 3px solid $primary;
}


.left-panel {
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;

    @include media-breakpoint-up(md) { 
        margin-left: 1rem;
        margin-right: 1rem;
        top: 15px;
        right: auto;
        max-width: 50%;    
    } 
}


.tesim-modal-wrapper {
    position: fixed;
    z-index: 10;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-self: center; align-items: center;
}

.tesim-modal {
    width: 100%;
    max-width: 1240px;
    height: 100%;
    margin: auto;
    background: white;
    iframe { 
        width: 100%;
        height: 100%;
    }

}