.togglepill-wrapper {
  position: absolute;
  z-index: 9;
  transition: all 1s;
  .period-interreg-next & {
    top: 9rem;
    right: 10rem;
  }

  .period-eni-cbc & {
    top: 7rem;
    right: 20rem;
  }
}

.toggle-pill {
  display: inline-flex;
  border: 5px solid #273989;
  border-radius: 9999px;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  transition: border-color 0.3s;
  background-color: #273989ee; // same as the inactive pill (var(--tm-secondary))
  transition: background-color 0.3s, box-shadow 0.3s;
  color: white;
  font-family: "Century Gothic", sans-serif;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2),
    inset 0 0 16px rgba(0, 0, 0, 0.4);
  &:hover {
    background-color: var(--tm-secondary); // same as the inactive pill
  }
}

.toggle-pill__option {
  padding: 2rem;
  white-space: nowrap;
  opacity: 0.7;
  transition: color 0.3s, opacity 0.3s;
}

.toggle-pill__option.active {
  opacity: 1;
  background-color: white;
  color: var(--tm-secondary);
  border-radius: 99999px;
}

.toggle-pill__option.inactive {
  color: white;
  &:hover {
    opacity: 1;
    color: white;
  }
}

/**
Positioning the toggler pill.
*/

// MOBILE:
@media only screen and (max-width: 1300px) {
  .togglepill-wrapper {
    position: relative;
    display: flex;
    left: auto;
    right: auto !important;
    justify-content: center;
    top: 0 !important;
  }
  .toggle-pill__option {
    padding: 1rem;
  }
}
