.togglepill-wrapper {
  position: absolute;
  z-index: 9;
  transition: all 1s;
  .period-interreg-next & {
    top: 9rem;
    right: 10rem;
  }

  .period-eni-cbc & {
    top: 7rem;
    right: 20rem;
  }
}

.toggle-pill {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 9999px;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 25px;
  cursor: pointer;
  padding: 0;
  transition: border-color 0.3s;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.toggle-pill__option {
  padding: 2rem;
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
}

.toggle-pill__option.active {
  background-color: #007bff;
  color: white;
}

.toggle-pill__option.inactive {
  background-color: #f8f9fa;
  color: #333;
}

/**
Positioning the toggler pill.
*/

// MOBILE:
@media only screen and (max-width: 1300px) {
  .togglepill-wrapper {
    position: relative;
    display: flex;
    left: auto;
    right: auto !important;
    justify-content: center;
    top: 0 !important;
  }
  .toggle-pill__option {
    padding: 1rem;
  }
}
